<!DOCTYPE html>

<head>
    
    <title>Registration🚀</title>
    <link rel="icon" href="emc.png">
</head>
<body>
    <center>
    <h1>Registration🚀</h1>
    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum aut aliquam consequuntur ab veritatis doloremque magnam molestias, deserunt nisi nobis.</h5>
    </center>
    <hr>
<center>
    <h1>
        Reg Form
    </h1>
    <form action="page">
        <table>
            <tr>
                <td>Name</td><td><input type="text" placeholder="Enter name" id="name" name="name"></td>
            </tr>
            <tr>
                <td>Age</td><td><input type="number" placeholder="Enter age" id="age" name="age"></td>
            </tr>
            <tr>
                <td>Department</td>
                <td><select>
                    <option>cse</option>
                    <option>cce</option>
                    <option>it</option>
                </select></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <input type="radio" name="Gender">Male
                    <input type="radio" name="Gender">Female
                </td>
            </tr>
            <tr>
                <td>Email</td><td><input type="email" placeholder="Email"></td>
            </tr>
            <tr>
                <td>
                    Upload File
                </td>
                <td><input type="file"></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>